body, html{
  height:100%;
}
body{
  margin: 0px;
  font-family: 'Source Sans Pro', sans-serif;
}

hr{
  border: none;
}

a{
  text-decoration: none;
}

img.tint{
  display: inline-block;
  max-width: 100%;
  width: 100;
  background: rgba(0, 0, 0, 0.7);
}

#title{
  color: grey;
}

#create-button{
  margin-left: 8px;
  vertical-align: middle;
}

#link{
  margin-top: 15px;
  margin-bottom: 70px;
  font-size: 13px;
}

.pokemon{
  margin: 40px 40px 40px 40px;
}

.image{
  margin-bottom: 10px;
}

.number{
  color: #949596;
  font-size: 14px;
}

.types{
  font-size: 12px;
  font-weight: bold;
}
