body, html{
  height:100%;
}
body{
  margin: 0px;
  font-family: 'Hind', sans-serif;
}

a{
  text-decoration: none;
}

#header {
  /*position: absolute;
  top: 0;
  left: 0;*/
  z-index: 999;
  width: 100%;
  /*border-bottom: 1px solid #fff;*/
}

#title{
  color: grey;
}

#picture-container{
  position: relative;
}

/*#create-button{
  margin-left: 8px;
  vertical-align: middle;
}

#link{
  margin-top: 15px;
  margin-bottom: 70px;
  font-size: 13px;
}*/

.tint{
  display: inline-block;
  max-width: 100%;
  width: 100;
}

.main-statement{
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  color: white;
  max-width: 1024px;
  margin: 0 24px;
  transform: translate(-50%, -50%);
}

/*.margin-top{
  margin-top: 120px;
}*/


.login-btn {
	background-color:transparent;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #6c6c6d;
	display:inline-block;
	cursor:pointer;
	color:#6c6c6d;
	font-family:'Hind', sans-serif;
	font-size:15px;
	padding:6px 7px;
	text-decoration:none;
}
.login-btn:hover {
	background-color:transparent;
}
.login-btn:active {
	position:relative;
	top:1px;
}


/*.number{
  color: #949596;
  font-size: 14px;
}

.types{
  font-size: 12px;
  font-weight: bold;
}*/
