*{
  box-sizing: border-box;
}
body, html{
  height:100%;
  overflow-x: hidden;
}

body{
  margin: 0px;
  font-family: 'Hind', sans-serif;
}

a{
  text-decoration: none;
}

h2, h3{
  color: #4e4e4f;
}

#header {
  /*position: absolute;
  top: 0;
  left: 0;*/
  padding: 18px 30px;
  z-index: 999;
  width: 100%;
  border-bottom: 1px solid #c1c1c1;
  overflow: hidden;
}

#footer{
  width: 100%;
  padding: 7px;
  text-align: center;
  font-size: 14px;
  color: #d8d8d8;
  background: #4e4e4f;
}
/*#footer.lessBody {
  position: fixed;
  bottom: 0;
}*/

#picture-container{
  position: relative;
}

.logo{
  float: left;
  font-size: 32px;
  line-height: 48px;
}

.menu{
  float: right;
  line-height: 48px;
}
.menu a{
  display: inline-block;
  margin-left: 26px;
  color: #4e4e4f;
  font-size: 17px;
}
.menu a:hover{
	color: #e25e28;
}

.content-padding{
  padding: 20px;
}

.main-statement-index{
  position: absolute;
  /*top: 50%;
  left: 50%;*/
  z-index: 10;
  display: block;
  color: white;
  max-width: 1024px;
  /*margin: 0 28px;*/
  /*transform: translate(-50%, -50%);*/
}

.left-statement{
  width: 50%;
  height: 417.66px;
  float: left;
  border-collapse: collapse;
  text-align: right;
  padding: 87px 20px;
}

.right-statement{
  width: 50%;
  height: 417.66px;
  float: right;
  border-collapse: collapse;
  text-align: left;
  padding: 87px 20px;
}

.background-img{
  display: inline-block;
  max-width: 100%;
}

.img-tint-index{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: calc(100% - 6px);
  background: rgba(0,0,0,.30);
}

.leftpane {
  width: 33.3%;
  height: 100%;
  float: left;
  background-color: rosybrown;
  border-collapse: collapse;
  text-align: center;
}

.middlepane {
  width: 33.3%;
  height: 100%;
  float: left;
  background-color: royalblue;
  border-collapse: collapse;
  text-align: center;
}

.rightpane {
  width: 33.3%;
  height: 100%;
  position: relative;
  float: right;
  background-color: yellow;
  border-collapse: collapse;
  text-align: center;
}

.main-statement-others{
  position: absolute;
  top: 130px;
  left: 20px;
  z-index: 10;
  display: block;
  color: white;
  font-size: 25px;
  max-width: 1024px;
  /*text-align: left;
  padding-top: 150px;
  padding-left: 20px;*/
}

.img-tint-others{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: calc(100% - 6px);
  background: rgba(0,0,0,.60);
}

.new-btn {
	background-color:transparent;
	border-radius:6px;
	border:1px solid white;
	display:inline-block;
	cursor:pointer;
	font-family:'Hind', sans-serif;
	font-size:14px;
	padding:7px 8px;
	text-decoration:none;
  z-index: 7;

  position: absolute;
  top: 120px;
  left: 630px;
  color: white;
  /*max-width: 1024px;

  float: right;
  margin-right: 20px;*/
}
.new-btn a{
  color: white;
}

.loginpage{
  text-align: center;
}

.login-text{
  color: #4e4e4f;
  font-size: 28px;
  margin-top: 15px;
}

.googlelogin-btn {
	background-color:transparent;
	border-radius:1px;
	border:1px solid #ff4d1c;
	display:inline-block;
	cursor:pointer;
	font-family:'Hind', sans-serif;
	font-size:15px;
	text-decoration:none;
  margin-top:30px;
}
.googlelogin-btn:hover {
	background-color: #ffece5;
}
.googlelogin-btn:active {
	position:relative;
	top:1px;
}
.googlelogin-btn a{
  color:#ff4d1c;
}

/*.locallogin-email{
  position: relative;
  padding-top: 30px;
}*/




/*.email-input{
  border: 0;
  border-bottom: 1px solid #d1d1d1;
  outline: 0;
  background: transparent;
  font-size: 17px;
  width: 200px;
  height: 50px;
}

.floating-label {
  position: relative;
  pointer-events: none;
  left: -200px;
  top: 11px;
  transition: 0.2s ease all;
  color: #4e4e4f;
}

input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label{
  top: 8px;
  bottom: 10px;
  left: 10px;
  font-size: 11px;
  opacity: 1;
}*/
